<div class="columns">
  <div class="column">
  </div>
  <div class="column">
    <div class="card">
      <div class="card-header">
        <div class="card-header-title is-centered">
          <h1 class="title is-4">Search for a GameTable</h1>
        </div>
      </div>
      <div class="card-content">
        <form (ngSubmit)="findTablesByGameTableName()">
          <label>Name: <input class="input" type="text"
                              name="adventurerName"
                              [(ngModel)]="gametableName"></label><br>
          <br>
          <button class="button is-light-blue is-white-script" type="submit"><span class="icon is-small is-left">
              <i class="fas fa-search"></i>
              </span>
            <span>Search</span></button>
        </form>
      </div>
    </div>
  </div>
  <div class="column">
  </div>
</div>

<div *ngIf="gametableList.length > 0">
  <div class="columns">
    <div class="column">
    </div>
    <div class="column">
      <h3 class="title is-3">GameTables</h3>
    </div>
    <div class="column">
      <app-help-window
        [myMessage]="'These are the tables you searched for'">
      </app-help-window>
    </div>
  </div>

  <div class="columns is-multiline is-variable is-8">
    <div *ngFor="let gametable of gametableList">
      <div class="column">
        <div class="card">
          <div class="card-header">
            <div class="card-header-title">
              <div class="media">
                <div class="media-left">
                  <figure class="image is-32x32">
                    <img src="./assets/static/img/Table.png" alt="Placeholder image">
                  </figure>
                </div>
                <div class="media-content">
                  <p class="title is-4">{{gametable.name}}</p>
                </div>
              </div>
            </div>
          </div>
          <ng-container *ngIf="!checkForSessionuser(gametable)">
          <div class="card-content has-text-left">
            <button class="button is-white-script is-light-blue" (click)="subscribeTableRequest(gametable.id)"><span
              class="icon is-small is-left">
              <i class="fas fa-arrow-right"></i>
              </span>
              <span>Subscribe</span>
            </button>
          </div>
          </ng-container>
          <ng-container *ngIf="checkForSessionuser(gametable)">
            <div class="card-content has-text-left">
              <button class="button is-white-script is-green-blue"><span
                class="icon is-small is-left">
              <i class="fas fa-times"></i>
              </span>
                <span>Already Subscribed</span>
              </button>
            </div>
          </ng-container>
        </div>
      </div>
    </div>
  </div>
</div>
