<h2 class="is-size-4"><b>Site Notice</b></h2>
<br>
<h2 class="is-size-5"><b>Information pursuant to § 5 TMG</b></h2>

<p>Lukas Ziebell<br/>
  IT-Consultant<br/>
  Stadtlohnweg 33<br/>
  48161 Münster</p>
<br>

<h2 class="is-size-5"><b>Contact</b></h2>
<p>Phone: +49 251 14927368‬<br/>
  E-mail: webmaster@lukullist.de</p><br>

<h2 class="is-size-5"><b>Responsible for the content according to § 55(2) RStV</b></h2>
<p>Lukas Ziebell<br/>
  Stadtlohnweg 33<br/>
  48161 Münster</p>
<br>
<h2 class="is-size-5"><b>EU dispute resolution</b></h2>
<p>The European Commission provides a platform for online dispute resolution (ODR): <a
  href="https://ec.europa.eu/consumers/odr" target="_blank" rel="noopener noreferrer">https://ec.europa.eu/consumers/odr</a>.<br/>
  Our e-mail address can be found above in the site notice.</p>

<p>We are not willing or obliged to participate in dispute resolution proceedings before a consumer
  arbitration
  board.</p>
<br>
<h3 class="is-size-5"><b>Liability for Contents</b></h3>
<p>As service providers, we are liable for own contents of these websites according to Paragraph 7,
  Sect. 1 German
  Telemedia Act (TMG). However, according to Paragraphs 8 to 10 German Telemedia Act (TMG), service
  providers are
  not obligated to permanently monitor submitted or stored information or to search for evidences that
  indicate
  illegal activities.</p>
<p>Legal obligations to removing information or to blocking the use of information remain unchallenged.
  In this
  case, liability is only possible at the time of knowledge about a specific violation of law. Illegal
  contents
  will be removed immediately at the time we get knowledge of them.</p>
<br>
<h3 class="is-size-5"><b>Liability for Links</b></h3>
<p>Our offer includes links to external third party websites. We have no influence on the contents of
  those
  websites, therefore we cannot guarantee for those contents. Providers or administrators of linked
  websites are
  always responsible for their own contents.</p>
<p>The linked websites had been checked for possible violations of law at the time of the establishment
  of the link.
  Illegal contents were not detected at the time of the linking. A permanent monitoring of the
  contents of linked
  websites cannot be imposed without reasonable indications that there has been a violation of law.
  Illegal links
  will be removed immediately at the time we get knowledge of them.</p>
<br>
<h3 class="is-size-5"><b>Copyright</b></h3>
<p>Contents and compilations published on these websites by the providers are subject to German
  copyright laws.
  Reproduction, editing, distribution as well as the use of any kind outside the scope of the
  copyright law
  require a written permission of the author or originator. Downloads and copies of these websites are
  permitted
  for private use only.<br/> The commercial use of our contents without permission of the originator
  is
  prohibited.</p>
<p>Copyright laws of third parties are respected as long as the contents on these websites do not
  originate from the
  provider. Contributions of third parties on this site are indicated as such. However, if you notice
  any
  violations of copyright law, please inform us. Such contents will be removed immediately.</p><br>
<p>Image resources: <a>placeholder</a></p>
