<div class="columns">
  <div class="column">
  </div>
  <div class="column">
    <h3 class="title is-3">Gametables</h3>
  </div>
  <div class="column">
    <app-help-window *ngIf="sessionUser.roleInGroup === 'gamemaster'" [myMessage]="'In this area you can create game tables as a game master.\n'+
    'A well maintained game table is the backbone of every group playing pen and paper\n'+
'games. Players can join your game tables with their adventurers.\n'+
' The tables help you to organize your groups and to gain an\n'+
'overview of what is going on in the worlds of pen and paper.\n'+
' As the owning game master you are responsible for keeping the table up-to-date\n' +
'and providing guidance to your players. If a group fulfills their quests or disbands for some other reason you can delete\n'+
' the game table. But be careful and remember: ' +
 'All that is gold does not glitter;\n'+
'all that is long does not last;\n'+
'All that is old does not wither;\n'+
'not all that is over is past.'">
    </app-help-window>
    <app-help-window *ngIf="sessionUser.roleInGroup === 'player'" [myMessage]="'In this area you can see all the available game tables.\n'+
    'A well maintained game table is the backbone of every group playing pen and paper\n'+
'games. As a player you can join already existing game tables with your adventurers by clicking on the choose-table-button in your adventurer card.\n'+
' Your adventurers can also join a different table the same way.\n' +
' The tables help game masters to organize groups. You can gain an\n' +
'overview of what is going on in the worlds of pen and paper.\n' +
' \n' +
' If a group fulfills their quests or disbands for some other reason the game master can delete\n' +
' the game table. Your adventurer won\'t be lost though. Before joining another table always remember: ' +
 'Faithless is he that says farewell when the road darkens.\n'">
    </app-help-window>
  </div>
</div>
<div class="columns is-multiline is-variable is-8">
  <div *ngFor="let gametable of gametableList">
    <div class="column">
      <div class="card">
        <div class="card-header">
          <div class="card-header-title">
            <div class="media">
              <div class="media-left">
                <figure class="image is-32x32">
                  <img src="./assets/static/img/Table.png" alt="Placeholder image">
                </figure>
              </div>
              <div class="media-content">
                <p class="title is-4">{{gametable.name}}</p>
              </div>
            </div>
          </div>
        </div>
        <div class="card-content has-text-centered">
          <div *ngFor="let adventurer of gametable.adventurerList">
            <p>{{adventurer.name}} von {{adventurer.user.username}}</p>
            <div *ngIf="adventurer.downloadLink !== '' && adventurer.downloadLink !== null">
              <a class="button is-green-blue is-white-script is-small" href="{{adventurer.downloadLink}}">
                <span class="icon is-small is-left">
                  <i class="fas fa-download"></i>
                </span>
                <span>Download</span>
              </a>
            </div>
          </div>
          <form *ngIf="adventurerToChooseTableForName !== null"
                (ngSubmit)="patchTableForAdventurer(gametable.owningGM.username, gametable.name)">
            <button class="button is-white-script is-yellow" type="submit"><span class="icon is-small is-left">
              <i class="fas fa-book-reader"></i>
              </span>
              <span>Choose Table</span></button>
          </form>
          <div *ngIf="sessionUser.roleInGroup === 'gamemaster'">
            <div *ngIf="gametable.tempSubscribedUserList.length > 0">
              <hr class="is-black">
              <div *ngFor="let user of gametable.tempSubscribedUserList">
                <p>{{user.username}}</p>
                <form (ngSubmit)="confirmSubscribedUser(user, gametable)">
                  <button class="button is-green-blue is-white-script" type="submit">
                  <span class="icon is-small is-left">
                  <i class="fas fa-check"></i>
                  </span>
                    <span>Confirm Request</span>
                  </button>
                </form>
                <form (ngSubmit)="deleteTempSubscribedUser(user, gametable)">
                  <button class="button is-red is-white-script" type="submit">
                  <span class="icon is-small is-left">
                  <i class="fas fa-trash"></i>
                  </span>
                    <span>Delete Request</span>
                  </button>
                </form>
                <br>
                <hr class="is-black">
              </div>
            </div>
          </div>
          <div class="card-footer">
            <ng-container *ngIf="sessionUser !== null">
              <ng-container *ngIf="sessionUser.roleInGroup !== 'gamemaster'">
                <div class="card-footer-item">
                  <form (ngSubmit)="deleteSubscribedUser(sessionUser, gametable)">
                    <button class="button is-light-blue is-white-script" type="submit">
                  <span class="icon is-small is-left">
                  <i class="fas fa-times"></i>
                  </span>
                      <span>Unsubscribe</span>
                    </button>
                  </form>
                </div>
              </ng-container>
            </ng-container>
            <ng-container *ngIf="sessionUser !== null">
              <ng-container *ngIf="sessionUser.adminStatus">
                <div class="card-footer-item">
                  <form (ngSubmit)="deleteTable(gametable)">
                    <button class="button is-red is-white-script" type="submit">
                  <span class="icon is-small is-left">
                  <i class="fas fa-trash"></i>
                  </span>
                      <span>Delete Table</span>
                    </button>
                  </form>
                </div>
              </ng-container>
            </ng-container>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<form (ngSubmit)="getListOfTables()">
  <button class="button is-green-blue is-white-script" type="submit"><span class="icon is-small is-left">
              <i class="fas fa-redo"></i>
              </span>
    <span>Reload</span></button>
</form>
<br>


<div *ngIf="sessionUser !== null">
  <div *ngIf="sessionUser.roleInGroup === 'gamemaster'">
    <hr class="is-black">
    <div class="columns">
      <div class="column">
      </div>
      <div class="column">
        <div class="card">
          <div class="card-header">
            <div class="card-header-title is-centered">
              <h1 class="title is-4">Create New GameTable</h1>
            </div>
          </div>
          <div class="card-content has-text-centered">
            <form (ngSubmit)="postNewGameTable()">
              <label>Name: <input class="input form-control"
                                  name="gametableName"
                                  [formControl]="newGametable"></label><br>
              <br>
              <div *ngIf="this.gametableErrorMessage !== ''">
                <div class="is-size-6">
                  {{this.gametableErrorMessage}}
                </div>
                <br>
              </div>
              <button class="button is-light-blue is-white-script" type="submit"><span class="icon is-small is-left">
              <i class="fas fa-plus"></i>
              </span>
                <span>New Gametable</span></button>
            </form>
          </div>
        </div>
      </div>
      <div class="column">
      </div>
    </div>
  </div>
</div>

