<form (ngSubmit)="deleteItem(item,adventurer)">
  <button type="submit"> delete Item </button>
</form>

<!--<br>-->
<!--<div *ngIf="sessionUser !== null">-->
<!--  <form (ngSubmit)="addInventoryItem()">-->
<!--    <label>name: <input name="username" [(ngModel)]="itemData.name"></label><br>-->
<!--    <label>name: <input name="username" [(ngModel)]="itemData.description"></label><br>-->
<!--    <label>name: <input name="username" [(ngModel)]="itemData.amount"></label><br>-->
<!--    <button type="submit">New Item</button>-->
<!--  </form>-->
<!--</div>-->


