<div *ngIf="currentFileUpload">
  <progress class="progress is-green-blue" value="{{progress.percentage}}" max="100" [ngStyle]="{width:progress.percentage+'%'}">
    {{progress.percentage}}%
  </progress>
</div>

<label>
  <input type="file" id="file" accept=".pdf" (change)="selectFile($event)">
</label>

<button class="button is-white-script is-light-blue" [disabled]="!selectedFiles" (click)="upload()">Upload</button>
