<div class="helpSymbol has-text-right"><i class="far fa-lightbulb"></i></div>

<div class="helpBox has-text-centered is-light-blue is-white-script">
  <div style="width: 47rem; height: 18rem;">
    {{myMessage}}
  </div>
</div>

