<div class="text-centered">
  <h3 *ngIf="sessionUser === null" class="title is-3">Login</h3>

  <div *ngIf="notificationMessage !== '' && notificationMessage !== null" class="notification is-green-blue is-white-script">
    <button class="delete" (click)="deleteNotificationMessage()"></button>
    {{notificationMessage}}
  </div>

  <form *ngIf="sessionUser === null" (ngSubmit)="login()">
    <!--      Username-->
    <div class="columns">
      <div class="column is-5">
        <div class="level-right">
          <span class="level-item">Username:</span>
        </div>
      </div>
      <div class="column">
        <div class="level-left">
          <div class="level-item">
            <div class="content">
              <div class="inner">
                <label class="is-size-5">
                  <span class="control has-icons-left">
                    <input class="input is-hoverable" placeholder="Username" name="username"
                           [(ngModel)]="loginData.username">
                    <span class="icon is-small is-left">
                      <i class="fas fa-user"></i>
                    </span>
                  </span>
                </label>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!--      Password-->
    <div class="columns">
      <div class="column is-5">
        <div class="level-right">
          <span class="level-item">Password:</span>
        </div>
      </div>
      <div class="column">
        <div class="level-left">
          <div class="level-item">
            <div class="content">
              <div class="inner">
                <label class="is-size-5">
                  <span class="control has-icons-left">
                    <input class="input is-hoverable" type="password" placeholder="Password" name="password"
                           [(ngModel)]="loginData.password">
                    <span class="icon is-small is-left">
                        <i class="fas fa-lock"></i>
                    </span>
                  </span>
                </label>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>


    <br>
    <button class="button is-light-blue is-white-script" type="submit">
    <span class="icon is-small is-left">
      <i class="fas fa-sign-in-alt"></i>
    </span>
      <span>Go</span>
    </button>
  </form>

  <!--  Logout-->
  <!--<button class="button is-red is-white-script" *ngIf="sessionUser !== null" (click)="logout()">-->
  <!--  <span class="icon is-small is-left">-->
  <!--    <i class="fas fa-sign-out-alt"></i>-->
  <!--  </span>-->
  <!--  <span>Logout</span>-->
  <!--</button>-->
</div>
