<div class="columns">
  <div class="column">
  </div>
  <div class="column">
    <h3 class="title is-3">Adventurer</h3>
  </div>
  <div class="column">
    <app-help-window [myMessage]="'Adventurers are at the core of pen and paper games. Players experience quests, friendship \n'+
    ' and other worlds through their eyes. In this area you can create new adventurers. After creating them you can let them join game tables\n'+
    ' and upload PDF-files providing relevant information about them. You can also update those files later on if you so desire.\n'+
' The adventurer area also helps in keeping the inventory up-to-date by providing a tool specifically designed to add, delete and display\n'+
' all your invaluable belongings - acquired legally or any other way.\n' +
' If one of your adventurers passes away or simply leaves your service you can delete him or her. In this case ensure that you\n' +
' download your file if you want to retain this piece of information.\n' +
' Do not go gentle into that good night.'">
    </app-help-window>
  </div>
</div>


<div *ngIf="errorMessage !== ''" class="notification is-green-blue is-white-script">
  <button class="delete" (click)="deleteErrorMessage()"></button>
  {{errorMessage}}
</div>

<div class="columns is-multiline is-variable is-8">
  <div *ngFor="let adventurer of adventurers">
    <div class="column">
      <div class="card">
        <div class="card-header">
          <div class="card-header-title">
            <div class="media">
              <div class="media-left">
                <figure class="image is-32x32">
                  <img src="./assets/static/img/Helmet.png" alt="Placeholder image">
                </figure>
              </div>
              <div class="media-content">
                <p class="title is-4">{{adventurer.name}}</p>
              </div>
            </div>
          </div>
        </div>
        <div class="card-content has-text-left">
          <form (ngSubmit)="setAdventurerToShowInventoryFor(adventurer.name)">
            <button class="button is-white-script is-light-blue" type="submit">
                <span class="icon is-small is-left">
              <i class="fas fa-th-list"></i>
                </span><span>Show Inventory</span></button>
          </form>
          <div *ngIf="adventurerToShowInventoryForName !== null">
            <div class="box" *ngIf="adventurerToShowInventoryForName === adventurer.name">
              <table class="table is-striped is-fullwidth is-hoverable">
                <tr>
                  <th>Inventory</th>
                </tr>
                <div *ngFor="let item of adventurer.inventory">
                  <div>
                    <tr>
                      <td>{{item.name}}</td>
                      <td>
                        <label>
                          <input class="input is-small" style="width: 4rem;" type="number" pattern="^[0-9]+$" [(ngModel)]="item.amount">
                        </label>
                      </td>
                      <td>
                        <button class="button is-small is-white-script is-green-blue" style="width: 6rem;" (click)="changeAmountOfItem(item)">Change</button>
                      </td>
                      <td>
                        <form (ngSubmit)="deleteItem(item,adventurer)">
                          <button class="button is-small is-white-script is-red" style="width: 6rem;" type="submit">Delete Item</button>
                        </form>
                      </td>
                    </tr>
                  </div>
                  <div class="is-size-6">
                    <tr>
                      <td>{{item.description}}</td>
                    </tr>
                  </div>
                </div>
              </table>


              <!--                                                       <button (click)="incrementAmount(item)">+</button>-->
              <!--                                                       <button (click)="decrementAmount(item)">-</button>-->

              <form (ngSubmit)="addItem()" [formGroup]="newItem">
                <input class="input is-small" style="width: 12rem;" type="text" placeholder="Name of item"
                       name="name" formControlName="itemName"><span>&nbsp;</span>
                <input class="input is-small" style="width: 12rem;" type="text" placeholder="Description"
                       name="description" formControlName="itemDescription"><span>&nbsp;</span>
                <input class="input is-small" style="width: 4rem;" type="number" placeholder="Amount of Items"
                       name="amount" formControlName="amount"><span>&nbsp;</span>
                <button class="button is-small is-white-script is-light-blue" style="width: 6rem;" type="submit">New Item</button>
              </form>
            </div>
          </div>
          <form (ngSubmit)="setAdventurerToChooseTableFor(adventurer.name)">
            <button class="button is-white-script is-yellow" type="submit"><span class="icon is-small is-left">
              <i class="fas fa-book-reader"></i>
              </span>
              <span>Choose Table</span></button>
          </form>
          <div *ngIf="adventurer.downloadLink !== '' && adventurer.downloadLink !== null">
            <a class="button is-green-blue is-white-script" href="{{adventurer.downloadLink}}">
                <span class="icon is-small is-left">
                  <i class="fas fa-download"></i>
                </span>
              <span>Download</span>
            </a>
          </div>
          <form (ngSubmit)="setAdventurerToUploadTo(adventurer.name)">
            <button class="button is-white-script is-light-blue" type="submit">
                <span class="icon is-small is-left">
              <i class="fas fa-upload"></i>
                </span><span>Choose to Upload</span></button>
          </form>
          <div *ngIf="adventurerToUploadToName !== null">
            <div class="box" *ngIf="adventurerToUploadToName === adventurer.name">
              <app-upload></app-upload>
            </div>
          </div>
          <form (ngSubmit)="deleteAdventurer(adventurer)">
            <button class="button is-white-script is-red" type="submit"><span class="icon is-small is-left">
              <i class="fas fa-trash"></i>
              </span>
              <span>Delete Adventurer</span>
            </button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

<form (ngSubmit)="getAdventurerListOfUser()">
  <button class="button is-green-blue is-white-script" type="submit"><span class="icon is-small is-left">
              <i class="fas fa-redo"></i>
              </span>
    <span>Reload</span></button>
</form>

<hr class="is-black">

<div class="columns">
  <div class="column">
  </div>
  <div class="column">
    <div class="card">
      <div class="card-header">
        <div class="card-header-title is-centered">
          <h1 class="title is-4">Create New Adventurer</h1>
        </div>
      </div>
      <div class="card-content">
        <form (ngSubmit)="postNewAdventurer()">
          <label>Name: <input class="input form-control"
                              name="adventurerName"
                              [formControl]="newAdventurer"></label><br>
          <br>
          <div *ngIf="this.adventurerErrorMessage !== ''">
            <div class="is-size-6">
              {{this.adventurerErrorMessage}}
            </div>
            <br>
          </div>
          <button class="button is-light-blue is-white-script" type="submit"><span class="icon is-small is-left">
              <i class="fas fa-plus"></i>
              </span>
            <span>New Adventurer</span></button>
        </form>
      </div>
    </div>
  </div>
  <div class="column">
  </div>
</div>
