.text-centered{
  text-align: center;
}
h3{
  text-align: center;
}
.column {
  text-align: center;
}
.tableLayout{
  table-layout: auto;
  width: 180px;
}
.tableLayoutFixed{
  table-layout: fixed;
  width: 180px;
}
table{
  display: table;
}
