<div class="text-centered">
  <form *ngIf="sessionUser === null" (ngSubmit)="register()" [formGroup]="registerData">
    <h3 class="title is-3">Registration</h3>

    <div *ngIf="notificationMessage !== ''" class="notification is-green-blue is-white-script">
      <button class="delete" (click)="deleteNotificationMessage()"></button>
      {{notificationMessage}}
    </div>


    <!--      Username-->
    <div class="columns">
      <div class="column is-5">
        <div class="level-right">
          <span class="level-item">Username:</span>
        </div>
      </div>
      <div class="column">
        <div class="level-left">
          <div class="level-item">
            <div class="content">
              <div class="inner">
                <label class="is-size-5">
                  <span class="control has-icons-left">
                    <input class="input is-hoverable" placeholder="Username" name="username"
                           formControlName="username">
                    <span class="icon is-small is-left">
                      <i class="fas fa-user"></i>
                    </span>
                  </span>
                </label>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div *ngIf="this.usernameErrorMassage !== ''">
      <div class="is-size-6">
        {{this.usernameErrorMassage}}
      </div>
      <br>
    </div>

    <!--      Password-->
    <div class="columns">
      <div class="column is-5">
        <div class="level-right">
          <span class="level-item">Password:</span>
        </div>
      </div>
      <div class="column">
        <div class="level-left">
          <div class="level-item">
            <div class="content">
              <div class="inner">
                <label class="is-size-5">
                  <span class="control has-icons-left">
                    <input class="input is-hoverable" type="password" placeholder="Password" name="password"
                           formControlName="password">
                    <span class="icon is-small is-left">
                        <i class="fas fa-lock"></i>
                    </span>
                  </span>
                </label>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div *ngIf="this.passwordErrorMassage !== ''">
      <div class="is-size-6">
      {{this.passwordErrorMassage}}
      </div>
      <br>
    </div>


    <!--      Roleselect-->
    <div class="control">
      <div class="columns">
        <div class="column is-5">
          <div class="level-right">
            <div class="level-item">
              <label class="radio">
                <input type="radio" value="visitor" name="roleInGroup" formControlName="roleInGroup">
                Visitor
              </label>
            </div>
          </div>
        </div>
        <div class="column">
          <div class="level">
            <div class="level-item">
              <label class="radio">
                <input type="radio" value="player" name="roleInGroup" formControlName="roleInGroup">
                Player
              </label>
            </div>
          </div>
        </div>
        <div class="column is-5">
          <div class="level-left">
            <div class="level-item">
              <label class="radio">
                <input type="radio" value="gamemaster" name="roleInGroup" formControlName="roleInGroup">
                Gamemaster
              </label>
            </div>
          </div>
        </div>
      </div>
    </div>
    <br>
    <div *ngIf="this.roleInGroupErrorMassage !== ''">
      <div class="is-size-6">
      {{this.roleInGroupErrorMassage}}
      </div>
      <br>
    </div>
    <button class="button is-white-script is-light-blue" type="submit"><span class="icon is-small is-left">
              <i class="fab fa-d-and-d"></i>
      </span><span>Go</span></button>
  </form>
</div>


